function Random.target 0
push argument 0
push constant 16
call MathFunctions.mod 2
pop static 0
push constant 0
return
function Random.nedomaint 0
push static 0
push constant 20251
add
pop static 0
push static 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 0
push constant 32767
sub
push constant 1
sub
pop static 0
label IF_FALSE0
push static 0
return
function Random.between 2
push argument 1
push argument 0
sub
push constant 1
add
pop local 0
call Random.nedomaint 0
push local 0
call MathFunctions.mod 2
push argument 0
add
pop local 1
push local 1
push argument 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 1
sub
pop local 1
label IF_FALSE0
push local 1
push constant 16
call Math.multiply 2
return
